{% import _self as macros %}


{% macro content() %}
    <div class="flex-container">
        <div class="Container">
            <img src="../../images/header_logo.png" height="39" width="160">
            <img src="../../images/telephone.svg" height="16" width="16">
        </div>
    </div>
    
{% endmacro %}  

{{ macros.content }}