@import "../layouts/base.scss";

$primary: red;
$secondary: blue;

body{
    font-family: 'Open Sans', sans-serif;
}

.HW{
    text-align: center;
    color: $primary;
    font-family: 'Montserrat', sans-serif;
}
